a {
    color: white;
    text-decoration: none;
}

a:hover {
     color: white;
     text-decoration: none;
     cursor: pointer;
}

a:visited {
     color: white;
     text-decoration: none;
     cursor: pointer;
}

.trump-image {
  margin: 20px;
}

.quote1 {
  color: #0d47a1;
  border: 1px solid #b71c1c;
  margin: 20px 150px 20px 150px;
}

.quote2 {
  color: #0d47a1;
  border: 1px solid #b71c1c;
  margin: 20px 150px 20px 150px;
}

.brand-logo {
  margin-left: 5px;
}

.aboutdiv {
  font-size: 2em;
  margin: 100px 150px 0 150px;
}

.aboutdiv p {
  margin-left: 100px;
}

.dark-blue {
  color: #0d47a1;
}

.heading {
  margin-bottom: 40px;
}

[type="checkbox"].filled-in:checked + label:after {
      background-color: #b71c1c;
      border: 2px #0d47a1 solid;
}

[type="checkbox"].check-blue:not(:checked) + label:after {
  border: 2px #0d47a1 solid;
  background: transparent;
}

.btn:hover {
  color: #b71c1c;
}

.colistdiv {
  font-size: 1.5em;
  margin: 10px 0 10px 0;
}

.colinks {
    color: #0d47a1;
    text-decoration: none;
    margin: 10px 0 10px 0;
}

.colinks:hover {
     color: #0d47a1;
     text-decoration: none;
     cursor: pointer;
}

.colinks:visited {
     color: #0d47a1;
     text-decoration: none;
     cursor: pointer;
}

.cotweet {
  font-size: 1.5em;
  margin: 10px 0 10px 0;
  border: 2px #b71c1c solid;
}

.tweet-page {
  font-size: 1.5em;
  margin: 10px 0 10px 0;
  border: 2px #b71c1c solid;
  color: #0d47a1;
}

.tweet-page p {
  margin: 10px;
}
