a {
    color: white;
    text-decoration: none;
}

a:hover {
     color: white;
     text-decoration: none;
     cursor: pointer;
}

a:visited {
     color: white;
     text-decoration: none;
     cursor: pointer;
}

.trump-image {
  margin: 20px;
}

.quote1 {
  color: blue;
  border: 1px solid red;
  margin: 20px 150px 20px 150px;
}

.quote2 {
  color: blue;
  border: 1px solid red;
  margin: 20px 150px 20px 150px;
}

.brand-logo {
  margin-left: 5px;
}

.aboutdiv {
  font-size: 2em;
  margin: 100px 150px 0 150px;
}

.aboutdiv p {
  margin-left: 100px;
}
