<div class="row center-align">
  <div class="center-align">
    <img class="trump-image" src="images/trumprainbow.jpg">
  </div>

  <div class="center-align">
    <a class=" blue darken-4 btn btn-large" ng-click="loginGoogle()" ng-ref="#!/about">
      <img src="images/google.png" width="25" height="25">
      LOGIN WITH GOOGLE
    </a>
  </div>

  <div class="center-align quote1">
    <p>"I did like 50 stocks just for fun, because I'm not a person that really believes in it too much, </p>
    <p>it's all a big bubble." - Donald J. Trump (9 Aug 2016)</p>
  </div>

  <div class="center-align quote2">
    <p>"Since November 8th, Election Day, the Stock Market has posted $3.2 trillion in GAINS and </p>
    <p>consumer confidence is at a 15 year high. Jobs!" - Donald J. Trump (2 Mar 2017)</p>
  </div>

</div>   <!-- containter end div -->
