<nav ng-controller="NavCtrl" class="red darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Trump and the Big Bubble</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li ng-show="isLoggedIn"><a ng-href="#!/companylist">My Company List</a></li>
        <li ng-show="isLoggedIn"><a ng-href="#!/account">My Account</a></li>
        <li ng-show="isLoggedIn"><a ng-href="#!/about">About</a></li>
        <li ng-show="!isLoggedIn"><a ng-href="#!/login">Login</a></li>
        <li ng-show="isLoggedIn"><a ng-href="#!/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
